<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoRSSReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DemoRSSReaderTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OCLint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52FA5D2034B515F04D4F1589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52FA5E25A784C28CF7BCD79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DAC100418487CEC0050741C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DAC100A18487DB20050741C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DAC100E18487DBF0050741C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
